@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}

:root{
  --black:#333;
  --black:#333;
  --white:#fff;
  --white:#fff;
}

.dark{
  --black:#fff;
  --black2:#444;
  --white:#333;
  --white2:#444;
}

body{
  overflow-x:hidden;
}

.wrapper{
  background: var(--white2);
  position:fixed;
  width: 100%;
  z-index: 100000;
}

.wrapper nav{
  position: relative;
  display: flex;
  width:100%;
  height:60%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.dark .wrapper nav{
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

nav.content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 40px;
}

nav .content .links{
  margin-left: 80px;
  display:flex;
}

.content .logo a{
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
